<div class="well track-row">
	
	<div class="row">
		<div class="col-xs-2">
			<h4><%= track.name %></h4>	
		</div>

		<div class="col-xs-8">
			<audio controls controls="nodownload">
				<source src="<%= cloudinary_url(track.name + '.mp3', resource_type: 'video') %>" type="audio/mp3">	
			</audio>		
		</div>
		
		<div class="col-xs-2">
			<div class="row">
			</div>
			<% if current_user %>
				<%= form_for order_item, remote: true do |f| %>
					<%= f.hidden_field :track_id, value: track.id %>
					<%= f.submit "Add to cart", class: 'btn btn-primary pull-right' %>
				<% end %>
			<% end %>
		</div>	
	</div>
</div>
