<div class="well row track-row">
	<div class="col-xs-12">
		<h4 class="text-center"><%= track.name.titleize %></h4>	
		
		<audio controls controlsList="nodownload">
			<source src="<%= cloudinary_url(track.name + '.mp3', resource_type: 'video') %>" type="audio/mp3">	
		</audio>		

			<% if current_user %>
				<%= form_for order_item, remote: true do |f| %>
					<%= f.hidden_field :track_id, value: track.id %>
					<%= f.submit "Add to cart", class: 'btn btn-primary pull-right' %>
				<% end %>
			<% end %>
	</div>
</div>
