<div class="well">
	
	<div class="row">
		<div class="col-xs-8">
			<h4><%= track.name %></h4>	
		</div>
		
		<div class="col-xs-4">
			<div class="row">
				<audio controls>
					<source src="<%= cloudinary_url(track.name + '.mp3', resource_type: 'video') %>" type="audio/mp3">	
				</audio>		
			</div>
			<% if current_user %>
				<%= form_for order_item, remote: true do |f| %>
					<%= f.hidden_field :track_id, value: track.id %>
					<%= f.submit "Add to cart", class: 'btn btn-primary pull-right' %>
				<% end %>
			<% end %>
		</div>	
	</div>
</div>
