<div class="row">
	<div class="col-xs-12 col-md-4 col-md-offset-4">
		<%= form_for @user, url: user_session_path do |f| %>
			<h4>Sign in as user</h4>

			<div class="form-group">
				<%= f.label :email %>
				<%= f.email_field :email, class: 'form-control' %>
			</div>

			<div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
			</div>

			<div class="actions">
				<%= f.submit "Sign in", class: 'btn' %>
			</div>
		<% end %>
	</div>
</div>