<div class="row">
	<div class="col-xs-12 col-md-4 col-md-offset-4">
		<h4>Sign in as admin</h4>
		<%= form_for(:admin, :url => session_path(:admin)) do |f| %>
		  <div class="form-group">
		  	<%= f.label :email %>
		  	<%= f.text_field :email, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<%= f.label :password %>
		  	<%= f.password_field :password, class: 'form-control' %>
		  </div>

		  <div class="pull-left">
		  	<%= f.check_box :remember_me %>
		  	<%= f.label :remember_me %>
		  	<%= link_to "Forgot your password?", new_password_path(:admin) %>
		  </div>

		  <div class="pull-right">
		  	<%= f.submit 'Sign in', class: 'btn btn-primary' %>
		  </div>
		<% end %>
	</div>
</div>