<!DOCTYPE html>
<html>
  <head>
    <title>FlipsBeats</title>
    <%= csrf_meta_tags %>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head> 

  <body>
		<%= render partial: 'layouts/navbar' %>
  	<div class="container-fluid">
    	<%= yield %>
  	</div>
  </body>
</html>
